.featuredMedia {
    width: 100%;
    height: 93.9vh;
}

.bgfeaturedMedia {
    width: 100%;
    height: 93.9vh;
}

.titlefeaturedMedia {
    top: 50%;
    left: 65%;
}

.typehotel {
    top: 45%;
    left: 65%;
}

.startHotel {
    top: 57.5%;
    left: 65%;
}

.contenthotal {
    top: 62%;
    left: 65%;
}

.Galeryhotel {
    width: 10rem;
    height: 6rem;
}

.Galeryhotel img {
    border: 2px solid #fff;
}

.contentGaleryhotel {
    top: 80%;
    left: 65%;
}

.contentfiltreHome {
    width: 68rem;
    height: 10rem;
    bottom: -9rem;
    left: 12rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid #c8c829;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.contentAbout {
    height: 170vh;
}