.swiper {
    position: relative;
    width: 100%;
    height: 25rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .contentImg div {
    max-width: none;
}

.swiper-slide img {
    display: block;
    width: 80rem;
    /* height: 20rem; */
    object-fit: cover;
}

.second {
    position: relative;
    width: 100%;
    height: 28rem;
}

.second .swiper-slide img {
    border-radius: 0;
}

.second .contentImgsecond div {
    max-width: 0rem;
}

.second .contentImgsecond {
    width: 35rem;
}

.contentlistehome {
    width: 27rem;
    left: 1rem;
    background: rgba(231, 229, 229, 0.2);
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.chargeImgListe {
    width: 80rem;
    height: 300px;
}